body {
    margin: 0;
    padding: 100px;
    background-color: darkgray;
   
}

.filler {
    margin: 0px auto 900px auto;
}

h2 {
    text-shadow: 2px 2px #676767;
}

h1 {
    color: #ff7300;
    text-align: center;
    margin: 20px 0px 50px 0px;
    text-shadow: 2px 2px #753500;
  }