body {
    margin: 0;
    padding: 70px 0px 70px 0px;
    background-color: darkgray;
   
}

/* .filler {
    margin: 0px auto 400px auto;
} */

h2 {
    text-shadow: 2px 2px #676767;
}

h1 {
    color: #ff7300;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px #753500;
    font-family: 'Permanent Marker', sans-serif;
  }

h3 {
    text-shadow: 2px 2px #676767;
}
